.flexRowContent--banner-servicios-bloque {
  align-items: center;
  display: flex;
  gap: 20px;
  padding-top: 20px;

  padding-bottom: 30px;
}
.flexRow--banner-servicios-container,
.flexRow--banner-servicios-container-mobile {
  background: #e6e6e6;
  margin-top: 50px;
}
.flexColChild--box {
  padding-bottom: 15px;
}   
.flexCol--box .flexColChild--box {
  align-items: center;
  display: flex;
}
@media (min-width: 640px) {
  .flexRowContent--banner-servicios-container-mobile {
    background: #e6e6e6;
    flex-wrap: wrap;
  }
  .flexRowContent--banner-servicios-container-mobile .stretchChildrenWidth {
    width: 25% !important;
  }
}
